<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szbt.adminserver.dao.mapper.AnnualauditMapper">

    <resultMap id="BaseResultMap" type="org.example.entity.Annualaudit">
            <id property="declarationId" column="declaration_id" jdbcType="INTEGER"/>
            <result property="declarationYear" column="declaration_year" jdbcType="INTEGER"/>
            <result property="clubId" column="club_id" jdbcType="INTEGER"/>
            <result property="reviewResult" column="review_result" jdbcType="VARCHAR"/>
            <result property="meetingActivityListAttachment" column="meeting_activity_list_attachment" jdbcType="VARCHAR"/>
            <result property="externalSponsorshipAttachment" column="external_sponsorship_attachment" jdbcType="VARCHAR"/>
            <result property="isFinancialInformationPublic" column="is_financial_information_public" jdbcType="INTEGER"/>
            <result property="clubConstitutionAttachment" column="club_constitution_attachment" jdbcType="VARCHAR"/>
            <result property="departmentOpinion" column="department_opinion" jdbcType="VARCHAR"/>
            <result property="publicityManagementInfo" column="publicity_management_info" jdbcType="OTHER"/>
    </resultMap>

    <sql id="Base_Column_List">
        declaration_id,declaration_year,club_id,
        review_result,meeting_activity_list_attachment,external_sponsorship_attachment,
        is_financial_information_public,club_constitution_attachment,department_opinion,
        publicity_management_info
    </sql>
</mapper>
