<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szbt.adminserver.dao.mapper.BackboneevaluationMapper">

    <resultMap id="BaseResultMap" type="org.example.entity.Backboneevaluation">
            <id property="recordId" column="record_id" jdbcType="INTEGER"/>
            <result property="declarationYear" column="declaration_year" jdbcType="INTEGER"/>
            <result property="studentId" column="student_id" jdbcType="INTEGER"/>
            <result property="clubId" column="club_id" jdbcType="INTEGER"/>
            <result property="tenurePeriod" column="tenure_period" jdbcType="VARCHAR"/>
            <result property="achievements" column="achievements" jdbcType="OTHER"/>
            <result property="trainingParticipation" column="training_participation" jdbcType="OTHER"/>
            <result property="awards" column="awards" jdbcType="OTHER"/>
            <result property="clubWorkStatus" column="club_work_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        record_id,declaration_year,student_id,
        club_id,tenure_period,achievements,
        training_participation,awards,club_work_status
    </sql>
</mapper>
