<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szbt.clubserver.dao.mapper.AdministratorMapper">

    <resultMap id="BaseResultMap" type="org.example.entity.Administrator">
            <id property="adminId" column="admin_id" jdbcType="INTEGER"/>
            <result property="account" column="Account" jdbcType="VARCHAR"/>
            <result property="adName" column="ad_name" jdbcType="VARCHAR"/>
            <result property="authority" column="authority" jdbcType="INTEGER"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
            <result property="contact" column="contact" jdbcType="VARCHAR"/>
            <result property="departmentName" column="department_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_id,Account,ad_name,
        authority,pwd,contact,
        department_name
    </sql>
</mapper>
