<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ClubmeetingMapper">

    <resultMap id="BaseResultMap" type="org.example.entity.Clubmeeting">
            <id property="meetingId" column="meeting_id" jdbcType="INTEGER"/>
            <result property="clubId" column="club_id" jdbcType="INTEGER"/>
            <result property="meetingTime" column="meeting_time" jdbcType="TIMESTAMP"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="INTEGER"/>
            <result property="advisorName" column="advisor_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        meeting_id,club_id,meeting_time,
        location,category,advisor_name
    </sql>
</mapper>
